#include "resource.h"
#include <windows.h>

// Application icon (you can add custom icon later)
// IDI_APPICON ICON "app.ico"

// Menu
IDR_MAINMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Refresh\tF5", IDM_REFRESH
        MENUITEM SEPARATOR
        MENUITEM "E&xit", IDM_EXIT
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About", IDM_ABOUT
    END
END

// Version information
VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Custom Tools"
            VALUE "FileDescription", "DLL Injector GUI"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "DllInjectorGUI"
            VALUE "LegalCopyright", "Copyright (C) 2025"
            VALUE "OriginalFilename", "DllInjectorGUI.exe"
            VALUE "ProductName", "DLL Injector GUI"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

// String resources
STRINGTABLE
BEGIN
    IDS_APP_TITLE "DLL Injector GUI"
END
